body {
    font-family: 'arial', sans-serif;
    background-image: url('traffic_jam.jpg');
}

#title {
    text-shadow: 0 1px 0 #efefef,
                 0 2px 0 #efefef,
                 0 3px 0 #efefef,
                 0 4px 0 #efefef,
                 0 20px 5px rgba(0,0,0,.1);
    margin-bottom: 30px;
    margin-top: 10px;
    animation: pulse 2s infinite;
    letter-spacing: 0.12em;
}

.figure {
    color: gray;
    margin-top: 4px;
    font-size: 14px;
}

.centre {
    text-align: center;
    margin: auto;
    width: 70%;
    background-color: white;
    padding: 25px
}

.text {
    text-align: justify;
    columns: 2;
    column-gap: 50px;
    line-height: 20px;
}

.graph {
    border: 1px solid black;
}

#nt {
    color: red;
}

#publisher {
    text-align: right;
    color: gray;
    margin-bottom: 0;
}

.graph:hover {
    box-shadow: 0px 0px 5px 5px gray
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	50% {
		transform: scale(1);
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}